<div class="main-blogs">
    <div class="main-blog anim" style="--delay: .1s">
        <div class="main-blog__title">This is a early preview</div>
        <div class="main-blog__author">
            <div class="author-img__wrapper">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check">
                    <path d="M20 6L9 17l-5-5"></path>
                </svg>
                <img class="author-img" src="">
            </div>
            <div class="author-detail">
                <div class="author-name">Thomas Hope</div>
                <div class="author-info">53K views <span class="seperate"></span>2 weeks ago</div>
            </div>
        </div>
        <div class="main-blog__time">7 min</div>
    </div>
    <div class="main-blog anim" style="--delay: .2s">
        <div class="main-blog__title">Hello, World!</div>
        <div class="main-blog__author tips">
            <div class="main-blog__time">7 min</div>
            <div class="author-img__wrapper">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check">
                    <path d="M20 6L9 17l-5-5"></path>
                </svg>
                <img class="author-img" src="">
            </div>
            <div class="author-detail">
                <div class="author-name">Tony Andrew</div>
                <div class="author-info">53K views <span></span>2 weeks ago</div>
            </div>
        </div>
    </div>
</div>