<div class="video skeleton">
    <div class="video-time skeleton"></div>
    <div class="video-wrapper skeleton">
        <img class="thumbnail skeleton" />
        <div class="author-img__wrapper video-author skeleton">
            <img class="author-img skeleton">
        </div>
    </div>
    <div class="video-by skeleton"></div>
    <div class="video-name skeleton"></div>
    <div class="video-view skeleton"></div>
</div>