@page "/"
@using Microsoft.Extensions.Configuration
@namespace Themenschaedel.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IConfiguration _configuration
@{
    Layout = null;
    string offenID = _configuration.GetValue<string>("Config:OffenUserID");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Themenschaedel.Web</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/Style.css" />
    <link rel="stylesheet" href="css/normalize.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/Checkboxes.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    @*<div id="blazor-error-ui">
            <environment include="Staging,Production">
                An error has occurred. This application may no longer respond until reloaded.
            </environment>
            <environment include="Development">
                An unhandled exception has occurred. See browser dev tools for details.
            </environment>
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>*@

    <script async src="https://offen.atleris.com/script.js" data-account-id="@offenID"></script>

    <script src="/js/InfiniteScroll.js"></script>
    <script>
        window.ScrollList = {
            Init: function (ele, ref) {
                window.ScrollList.ifs = new InfiniteScroll(ele, ref);
            },
            RemoveListener: function () {
                window.ScrollList.ifs.RemoveListener();
            }
        }
    </script>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
