@page "/"
@using Themenschaedel.Web.Components

<div class="main-header anim" style="--delay: 0s">Infos</div>
<BlogCards />
<div class="small-header anim" style="--delay: .3s">Most Watched</div>
<EpisodeCollection />
